$body-font-family: 'Open Sans', sans-serif;
$autocomplete-dense-enclosed-input-margin-top: 15px;
$autocomplete-enclosed-input-margin-top: 11px;
$border-radius: 15px;
$input-font-size: 13px;
$data-table-regular-header-font-size: 13px;
